<div class="cart-count-bubble" id="favorites-count-bubble" style="display: none;">
  <span aria-hidden="true" id="favorites-count">0</span>
  <span class="visually-hidden">{{ 'customer.favorites.count' | t: count: 0 }}</span>
</div>
