{% comment %}
  Header Cart Count Snippet
  Renders the total cart count in the header

  Usage:
  {% render 'header-cart-count' %}
{% endcomment %}

{%- if cart != empty -%}
  <div class="cart-count-bubble" data-cart-count="{{ cart.item_count }}">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
