<div class="wrapper">
  {% for i in (1..settings.number_of_elements) %}
    <div class="element">Element {{ i }}</div>
  {% endfor %}
</div>

<style>
  .wrapper {
      display: flex;
      flex-direction: column;
      {% if settings.alignment == 'center' %}
        align-items: center;
      {% elsif settings.alignment == 'right' %}
        align-items: flex-end;
      {% else %}
        align-items: flex-start;
      {% endif %}
  }
  .element {
      margin: 10px 0;
  }
</style>

{% schema %}
{
  "name": "LG Wrapper",
  "settings": [
    {
      "type": "number",
      "id": "number_of_elements",
      "label": "Number of Elements",
      "default": 1
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_range",
      "label": "Padding",
      "default": 5,
      "min": 0,
      "max": 50
    },
    {
      "type": "text",
      "id": "lg_text",
      "label": "Text",
      "default": "hello world"
    },
    {
      "type": "image_picker",
      "id": "lg_image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "lg_color",
      "label": "Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Wrapper"
    }
  ]
}
{% endschema %}
