<div class="wrapper">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "LG Section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "presets": [
    {
      "name": "LG costum section"
    }
  ]
}
{% endschema %}
