{% comment %}
  Find the LG-progress-bar block to get thresholds
{% endcomment %}
{% assign lg_block = null %}
{% for block in section.blocks %}
  {% if block.type == 'LG-progress-bar' %}
    {% assign lg_block = block %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="page-width">
  <div id="free-shipping-bar-{{ section.id }}" class="free-shipping-bar">
    {% render 'free-shipping-progress',
      threshold_block: lg_block,
      container_class: 'fs-progress free-shipping-progress'
    %}
  </div>
</div>

<script>
  // Logic handled by assets/free-shipping-progress.js
</script>

{% schema %}
{
  "name": "Free Shipping Bar",
  "settings": [
    {
      "type": "header",
      "content": "Style Settings"
    },
    {
      "type": "color",
      "id": "bar_color",
      "label": "Bar color",
      "default": "#ff6699"
    },
    {
      "type": "color",
      "id": "bar_background",
      "label": "Background color",
      "default": "#eee"
    },
    {
      "type": "checkbox",
      "id": "show_on_homepage",
      "label": "Show on home page",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "LG-progress-bar",
      "name": "LG Progress Bar",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Free Shipping Progress Bar"
    }
  ]
}
{% endschema %}
