/* inventory-bar.css */
.inventory-bar__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: box-shadow 0.4s;
    box-shadow: none;
    border-radius: 8px;
    padding: 8px;
    max-width: 305px;

}

.inventory-bar {
    display: flex;
    align-items: center;
    height: var(--inventory-bar-height, 12px);
    width: var(--inventory-bar-width, 120px);
    margin: 8px 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    border: none;
}

.inventory-bar__section {
    display: flex;
    height: 6px;
    width: 25px;
    background: #eceef1;
    border-radius: 2px;
    margin: 0 6px;
    box-shadow: none;
}

.inventory-bar__section.filled-green {
    background: #3ed660;
    box-shadow: 0 0 8px 2px #3ed66099;
}

.inventory-bar__section.filled-yellow {
    background: #f1c40f;
    box-shadow: 0 0 8px 2px #f1c40f99;
}

.inventory-bar__section.filled-red {
    background: #e74c3c;
    box-shadow: 0 0 8px 2px #e74c3c99;
}

.inventory-bar__wrapper.glow-green {
    box-shadow: 0 0 16px 4px #3ed66080;
}

.inventory-bar__wrapper.glow-yellow {
    box-shadow: 0 0 16px 4px #f1c40f80;
}

.inventory-bar__wrapper.glow-red {
    box-shadow: 0 0 16px 4px #e74c3c80;
}