.custom-blocks-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 750px) {
    .custom-blocks-wrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}