{% layout none %}

{%- assign settings = settings | default: hash -%}
{%-
  assign settings = settings | merge: {
  card_style: 'card',
  card_color_scheme: 'default',
  badge_position: 'bottom-left',
  sold_out_badge_color_scheme: 'default',
  sale_badge_color_scheme: 'default',
  page_width: 1200,
  card_text_alignment: 'left'
  }
-%}

<div style="max-width:350px;margin:0 auto;">
  {% render 'card-product',
    card_product: product,
    section_id: 'favorites',
    show_vendor: true,
    show_rating: true,
    extend_height: true,
    lazy_load: true,
    skip_styles: false,
    quick_add: 'standard',
    horizontal_class: false,
    horizontal_quick_add: false,
    placeholder_image: 'product-apparel-2',
    media_aspect_ratio: 'square',
    image_shape: 'default'
  %}
</div>
